# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jbond
	email = github@johnbond.org
	signingkey = F0603A8AA1A3C834EF802F768B4182B1196B2D27
[pull]
	rebase = false
[core]
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[alias]
    llog = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %C(green)%cn <%ce>%Creset %s\" --all
    grephist = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %C(green)%cn <%ce>%Creset %s\" --all -S

[rebase]
	updateRefs = true
